<form class="inline-form create-account-container" ng-submit="loginCtrl.createUser()">
    <label for="create-first-name">First Name</label>
    <input id="create-first-name" placeholder="First Name" type="text" ng-model="loginCtrl.firstName" class="input-boxes">
    <label for="create-last-name">Last Name</label>
    <input id="create-last-name" placeholder="Last Name" type="text" ng-model="loginCtrl.lastName" class="input-boxes">
    <label for="create-email">Email</label>
    <input id="create-email" placeholder="Email" type="email" ng-model="loginCtrl.email" class="input-boxes">
    <label for="create-username">Username</label>
    <input id="create-username" placeholder="Username" type="text" ng-model="loginCtrl.username" class="input-boxes">
    <label for="create-password">Password</label>
    <input id="create-password" placeholder="password" type="password" ng-model="loginCtrl.password" class="input-boxes">
    <button class="create-user-submit">Create Account</button>
</form>