div#headerBootstrap(ng-app='main')
    ng-view

script(src="dependencies/dependencies.js")
script(src="js/main.js")
script(src="js/header/header.js")
script(src="js/header/headerDirective.js")
script(src="js/header/headerController.js")
script(src="js/body/body.js")
script(src="js/body/bodyDirective.js")
script(src="js/body/bodyController.js")
script(src="js/sidePanel/sidePanel.js")
script(src="js/sidePanel/sidePanelDirective.js")
script(src="js/sidePanel/sidePanelController.js")