link(rel='stylesheet', href='/stylesheets/css/styles.css')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
div#headerBootstrap(ng-app='main')
    ng-view
script(src="dependencies/dependencies.js")
script(src="js/main.js")
script(src="js/displayPost/displayPost.js")
script(src="js/displayPost/displayPostController.js")
script(src="js/displayPost/displayPostService.js")
script(src="js/login/login.js")
script(src="js/login/login.js")
script(src="js/login/loginController.js")
script(src="js/login/loginService.js")
script(src="js/header/header.js")
script(src="js/header/headerDirective.js")
script(src="js/header/headerController.js")
script(src="js/header/headerService.js")
script(src="js/body/body.js")
script(src="js/body/bodyDirective.js")
script(src="js/body/bodyController.js")
script(src="js/body/bodyService.js")
script(src="js/sidePanel/sidePanel.js")
script(src="js/sidePanel/sidePanelDirective.js")
script(src="js/sidePanel/sidePanelController.js")
script(src="js/userModal/userModal.js")
script(src="js/userModal/userModalDirective.js")
script(src="js/userModal/userModalController.js")
script(src="js/userModal/userModalService.js")